* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

:root {
  --main-font: 'Poppins', sans-serif;
  --grey-1: #f9f8f9;
  --grey-5: #8b8c8c;
  --grey-6: #4f4f4f;
  --main-blue: #094b72;
  --background-light: #c3e8f1;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
/* 
==========
Utility classes 
==========
*/
.section-center {
  max-width: 1170px;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.btn {
  font-family: var(--main-font);
  width: 190px;
  height: 48px;
  background: var(--main-blue);
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background: #c3e8f1;
  color: black;
}
/* 
==========
Header 
==========
*/
.header {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-img {
  display: inline;
  padding-left: 7px;
}
.logo-text {
  font-family: var(--main-font);
  font-weight: 700px;
  margin-left: 13px;
  /* vertical-align: center; */
}
/* 
==========
Navbar 
==========
*/
.nav-list {
  display: flex;
}
.nav-item {
  font-weight: 400;
  font-family: var(--main-font);
  text-transform: uppercase;
  padding-left: 56px;
}
.mobile-btn {
  font-size: 1.5rem;
  padding-right: 7px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .search {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
}
/* 
==========
Mobile Nav 
==========
*/
.hide {
  transform: translateX(100%);
}
.mobile-nav {
  background: white;
  position: fixed;
  /* opacity: 0.8; */
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  /* border-left: 3px solid var(--primary-color); */
  transition: all 0.5s ease-in-out;
}
.mobile-nav ul {
  padding-top: 35px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}
.mobile-nav a {
  text-transform: uppercase;
  color: var(--white);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 18px;
  transition: var(--transition);
}
.mobile-nav a:hover {
  color: var(--main-blue);
}
/* 
==========
Hero Section 
==========
*/
.hero-section {
  background: var(--grey-1);
}

.hero-heading {
  color: var(--main-blue);
  font-size: 3rem;
}
.hero-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}
.hero-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.hero-text {
  font-weight: 500;
  line-height: 158%;
  font-size: 24px;
  padding-bottom: 1rem;
}

.hero-img-container {
  border-radius: 30px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .hero-img-container {
    display: none;
  }
  .hero-container {
    grid-template-columns: 1fr;
    flex-direction: column;
  }
  .hero-heading {
    font-size: 1.5rem;
  }
}
.hero-img {
  border-radius: 30px;
  border-color: transparent;
  width: 100%;
  height: auto;
}
.companies {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 33px;
  column-gap: 32px;
  margin-top: 2rem;
}
@media screen and (max-width: 425px) {
  .companies {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .hero-btn {
    margin: 0 auto;
  }
}
/* 
==========
Why Section 
==========
*/
.why-section {
  background: var(--background-light);
}
.why-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
@media screen and (max-width: 768px) {
  .why-container {
    flex-direction: column;
  }
}
.why-content h2 {
  font-family: var(--main-font);
  flex: 50%;
  font-size: 36px;
  padding: 0 1rem;
}
.why-content p {
  padding: 1rem;
  font-family: var(--main-font);
  line-height: 36px;
}
/* 1 column at 546px */
.why-grid {
  flex: 50%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem;
}
@media screen and (max-width: 768px) {
  .why-grid {
    grid-template-columns: 1fr;
  }
  .why-content {
    text-align: center;
  }
}
.why-card {
  border-radius: 8px;
  padding: 24px;
  width: 259px;
  height: 255px;
  background: white;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
}
.card-heading {
  font-family: var(--main-font);
  font-weight: 700;
  margin: 18px 0 10px 0;
  display: block;
  font-size: 22px;
}
.card-text {
  font-size: 14px;
  line-height: 24px;
}
/* 
==========
Achievement Section 
==========
*/
.achievement-section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./photos/achievement-bg.png);
  background-position: center;

  text-align: center;
}
.ach-heading {
  padding: 58px 0px 8px 0px;
  text-align: center;
  flex-shrink: 2;
  font-size: 48px;
}
.ach-cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-bottom: 55px;
}
.mid {
  border-left: solid 1px #c3e8f1;
  border-right: solid 1px #c3e8f1;
}
@media screen and (max-width: 768px) {
  .ach-cards {
    align-items: center;
    flex-direction: column;
  }
  .mid {
    border: none;
  }
}
.num {
  font-size: 48px;
}
.ach-card {
  width: 255px;
  /* height: 96px; */
  /* padding-bottom: 55px; */
}
.ach-card span {
  display: block;
}

.ach-desc {
  font-size: 18px;
  font-family: var(--main-font);
  padding-bottom: 48px;
}

/* 
==========
Testimonial Section 
==========
*/
.testimonial-section {
  background: var(--background-light);
  padding-bottom: 91px;
}
.testimonial-heading {
  padding-top: 61px;
  padding-bottom: 51px;
  font-size: 48px;
  text-align: center;
}
.testimonial-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .testimonial-cards {
    align-items: center;
    flex-direction: column;
  }
}
.col {
  margin: 0 1rem;
}
.testimonial-card {
  flex-shrink: 3;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 540px;
  height: 232px;
  background: white;
}
.testimonial-card h3 {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.testimonial-card p {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  padding: 0 1rem;
  line-height: 24px;
}
@media screen and (max-width: 375px) {
  .testimonial-card h3 {
    font-size: 14px;
  }
  .testimonial-card p {
    font-size: 12px;
  }
}
.client {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-img {
  padding-right: 16px;
}
.client-text {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.client-name {
  font: var(--main-font);
  font-weight: 700;
  font-size: 18px;
}
/* 
==========
question Section 
==========
*/
.question-section {
  background: white;
}
.question-heading {
  width: 100%;
  font-family: var(--main-font);
  font-size: 48px;
  padding-bottom: 10px;
}
.question-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-text {
  padding-left: 4rem;
}
.question-text p {
  font-family: var(--main-font);
  max-width: 821px;
  line-height: 36px;
  /* padding: 0 1rem 1rem 1rem; */
}
.img-container {
  height: 375px;
}
.question-img {
  object-fit: cover;
  /* width: 100%; */
  height: 100%;
}
@media screen and (max-width: 768px) {
  .question-content {
    justify-content: center;
  }
  .question-heading {
    font-size: 40px;
  }
  .question-text {
    text-align: center;
    padding: 0;
  }
  .question-btn {
    margin: 0 auto;
  }
}
@media screen and (max-width: 973px) {
  .question-btn {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 820px) {
  .question-img {
    display: none;
  }
}
/* 
==========
footer Section 
==========
*/
.footer-section {
  background: var(--main-blue);
}
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-col {
  font-family: var(--main-font);
  color: white;
  padding: 2rem 0 2rem 0;
  display: flex;
  gap: 32px;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .footer-col {
    display: none;
  }
  .footer-content {
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}
.footer-link-header {
  padding-bottom: 32px;
  padding-right: 1rem;
}
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-list li {
  color: white;
  padding: 12px 18px 12px 0;
}
