* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

:root {
  --main-font: 'Poppins', sans-serif;
  --grey-1: #f9f8f9;
  --grey-5: #8b8c8c;
  --grey-6: #4f4f4f;
  --main-blue: #094b72;
  --background-light: #c3e8f1;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
/* 
==========
Utility classes 
==========
*/
.section-center {
  max-width: 1170px;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.btn {
  width: 190px;
  height: 48px;
  background: var(--main-blue);
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
==========
Header 
==========
*/
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo-img {
  display: inline;
  padding-left: 7px;
}
.logo-text {
  font-family: var(--main-font);
  font-weight: 700px;
  margin-left: 13px;
  /* vertical-align: center; */
}
/* 
==========
Navbar 
==========
*/
.nav-list {
  display: flex;
}
.nav-item {
  text-transform: uppercase;
  padding-left: 56px;
}
.mobile-btn {
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .search {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
}
/* 
==========
Hero Section 
==========
*/
.hero-section {
  background: var(--grey-1);
}

.hero-heading {
  color: var(--main-blue);
  font-size: 3rem;
}
.hero-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 2rem;
  gap: 2rem;
}
.hero-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.hero-text {
  font-weight: 500;
  line-height: 158%;
  font-size: 24px;
  padding-bottom: 1rem;
}

.hero-img-container {
  border-radius: 30px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .hero-img-container {
    display: none;
  }
  .hero-container {
    grid-template-columns: 1fr;
    flex-direction: column;
  }
  .hero-heading {
    font-size: 1.5rem;
  }
}
.hero-img {
  border-radius: 30px;
  border-color: transparent;
  width: 100%;
  height: auto;
}
.companies {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 33px;
  column-gap: 32px;
  margin-top: 2rem;
}
@media screen and (max-width: 425px) {
  .companies {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .hero-btn {
    margin: 0 auto;
  }
}
